<%= form_with(model: themain, local: true) do |form| %>
  <% if themain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(themain.errors.count, "error") %> prohibited this themain from being saved:</h2>

      <ul>
      <% themain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
